Datos_summary_1923_03102023.xlsx
dat_prep.pkl
.vscode/launch.json
trained_models/short/StackedEnsemble_BestOfFamily_4_AutoML_18_20231205_54430
trained_models/short/StackedEnsemble_BestOfFamily_4_AutoML_12_20231205_32241
trained_models/short/StackedEnsemble_BestOfFamily_3_AutoML_10_20231205_23521
trained_models/short/StackedEnsemble_BestOfFamily_2_AutoML_8_20231205_14844
trained_models/short/StackedEnsemble_BestOfFamily_2_AutoML_4_20231205_01448
trained_models/short/StackedEnsemble_AllModels_4_AutoML_14_20231205_41013
trained_models/short/StackedEnsemble_AllModels_4_AutoML_6_20231205_10121
trained_models/short/StackedEnsemble_AllModels_4_AutoML_2_20231204_232746
trained_models/short/StackedEnsemble_AllModels_2_AutoML_16_20231205_45728
trained_models/summary_mdls_2023-12-05T05:59:58.pkl
trained_models/StackedEnsemble_BestOfFamily_3_AutoML_3_20231204_234323
trained_models/StackedEnsemble_BestOfFamily_2_AutoML_17_20231205_51316
trained_models/StackedEnsemble_BestOfFamily_1_AutoML_7_20231205_11702
trained_models/StackedEnsemble_AllModels_4_AutoML_5_20231205_03044
trained_models/StackedEnsemble_AllModels_3_AutoML_13_20231205_33826
trained_models/StackedEnsemble_AllModels_2_AutoML_15_20231205_42555
trained_models/StackedEnsemble_AllModels_2_AutoML_11_20231205_25120
trained_models/StackedEnsemble_AllModels_1_AutoML_9_20231205_20426
trained_models/StackedEnsemble_AllModels_1_AutoML_1_20231204_225620
